// font
$font-basic: 'Righteous', cursive;
$font-second: 'Urbanist', sans-serif;
$font-auxiliary: 'Inter', sans-serif;

// colors
$bg: #14110e;
$bg-header-copy: #1c1814;
$border: #32323d;
$bg-product-card: #121315;

// text-color
$active-link-bg-button: #c99e71;
$text-color: #ffffff;
