<section class="cta">
  <div class="container">
    <div class="cta__wrapper">
      <img
        class="cta__img"
        srcset="./images/cta.png 1x, ./images/cta@2x.png 2x"
        src="./images/cta.png"
        alt="CTA image"
      />
      <div class="cta__content">
        <h2 class="cta__title">
          Coffee <br />
          machine, buy for home
        </h2>
        <p class="cta__text">
          mauris rhoncus in imperdiet placerat. vestibu emismd nisl suscirpit ligula volutpat, a
          feyguat urn maxmaus. cars massa nibhtincidunt. donec et nib maximus, est eu, mattis nuce.
          preasent ut quam quis quam venen atis fri ngilla. morbi vastibulum id tells mmodo mattis.
          aliauam erat volutpal.
        </p>
        <button class="cta__btn" type="button">Discover now</button>
      </div>
    </div>
  </div>
</section>
