<section class="feed-back">
  <div class="container">
    <p class="feed-back__subtitle">Testimonial</p>
    <h2 class="feed-back__title">Says our customers</h2>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-scrollbar"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <div class="feed-back__sliders">
      <div class="feed-back__slider">
        <div class="feed-back__content">
          <img
            class="feed-back__photo"
            srcset="./images/testimonial-1.jpg 1x, ./images/testimonial-1@2x.jpg 2x"
            src="./images/testimonial-1.jpg"
            alt="photo"
          />
          <p class="feed-back__text">
            Education WP is a special build for effective education & Learning Management System
            site. Education WP is the next generation & one of the best education WordPress themes
            which all the strength of eLearning WP..
          </p>
        </div>
        <div class="feed-back__info">
          <div class="feed-back__name-wrap">
            <p class="feed-back__name">John Smith</p>
            <p class="feed-back__position">Product Designer</p>
          </div>
          <ul class="feed-back__list">
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="feed-back__slider">
        <div class="feed-back__content">
          <img
            class="feed-back__photo"
            srcset="./images/testimonial-2.jpg 1x, ./images/testimonial-2@2x.jpg 2x"
            src="./images/testimonial-2.jpg"
            alt="photo"
          />
          <p class="feed-back__text">
            Education WP is a special build for effective education & Learning Management System
            site. Education WP is the next generation & one of the best education WordPress themes
            which all the strength of eLearning WP..
          </p>
        </div>
        <div class="feed-back__info">
          <div class="feed-back__name-wrap">
            <p class="feed-back__name">Brett Lee</p>
            <p class="feed-back__position">User Experience Designer</p>
          </div>
          <ul class="feed-back__list">
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="feed-back__slider">
        <div class="feed-back__content">
          <img
            class="feed-back__photo"
            srcset="./images/testimonial-1.jpg 1x, ./images/testimonial-1@2x.jpg 2x"
            src="./images/testimonial-1.jpg"
            alt="photo"
          />
          <p class="feed-back__text">
            Education WP is a special build for effective education & Learning Management System
            site. Education WP is the next generation & one of the best education WordPress themes
            which all the strength of eLearning WP..
          </p>
        </div>
        <div class="feed-back__info">
          <div class="feed-back__name-wrap">
            <p class="feed-back__name">John Smith</p>
            <p class="feed-back__position">Product Designer</p>
          </div>
          <ul class="feed-back__list">
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="feed-back__slider">
        <div class="feed-back__content">
          <img
            class="feed-back__photo"
            srcset="./images/testimonial-2.jpg 1x, ./images/testimonial-2@2x.jpg 2x"
            src="./images/testimonial-2.jpg"
            alt="photo"
          />
          <p class="feed-back__text">
            Education WP is a special build for effective education & Learning Management System
            site. Education WP is the next generation & one of the best education WordPress themes
            which all the strength of eLearning WP..
          </p>
        </div>
        <div class="feed-back__info">
          <div class="feed-back__name-wrap">
            <p class="feed-back__name">Brett Lee</p>
            <p class="feed-back__position">User Experience Designer</p>
          </div>
          <ul class="feed-back__list">
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="feed-back__slider">
        <div class="feed-back__content">
          <img
            class="feed-back__photo"
            srcset="./images/testimonial-1.jpg 1x, ./images/testimonial-1@2x.jpg 2x"
            src="./images/testimonial-1.jpg"
            alt="photo"
          />
          <p class="feed-back__text">
            Education WP is a special build for effective education & Learning Management System
            site. Education WP is the next generation & one of the best education WordPress themes
            which all the strength of eLearning WP..
          </p>
        </div>
        <div class="feed-back__info">
          <div class="feed-back__name-wrap">
            <p class="feed-back__name">John Smith</p>
            <p class="feed-back__position">Product Designer</p>
          </div>
          <ul class="feed-back__list">
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="feed-back__slider">
        <div class="feed-back__content">
          <img
            class="feed-back__photo"
            srcset="./images/testimonial-2.jpg 1x, ./images/testimonial-2@2x.jpg 2x"
            src="./images/testimonial-2.jpg"
            alt="photo"
          />
          <p class="feed-back__text">
            Education WP is a special build for effective education & Learning Management System
            site. Education WP is the next generation & one of the best education WordPress themes
            which all the strength of eLearning WP..
          </p>
        </div>
        <div class="feed-back__info">
          <div class="feed-back__name-wrap">
            <p class="feed-back__name">Brett Lee</p>
            <p class="feed-back__position">User Experience Designer</p>
          </div>
          <ul class="feed-back__list">
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
            <li class="feed-back__item">
              <svg class="feed-back__svg" width="20" height="20">
                <use href="./images/icons.svg#star-feedback"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</section>
