<header class="header">
  <div class="header__container">
    <nav class="nav-menu">
      <ul class="nav-menu__list">
        <li class="nav-menu__item"><a class="link active" href="#">Home</a></li>
        <li class="nav-menu__item"><a class="link" href="#">About</a></li>
        <li class="nav-menu__item"><a class="link" href="#">Menu</a></li>
        <li class="nav-menu__item"><a class="link" href="#">Reservation</a></li>
      </ul>
    </nav>
    <a href="#" class="header__link">
      <svg class="header__logo" width="72" height="60">
        <use href="./images/icons.svg#Logo"></use>
      </svg>
    </a>

    <nav class="nav-contacts">
      <ul class="nav-contacts__list">
        <li class="nav-contacts__item"><a class="link" href="#">Pages</a></li>
        <li class="nav-contacts__item"><a class="link" href="#">Shop</a></li>
        <li class="nav-contacts__item"><a class="link" href="#">Contact</a></li>
        <li class="nav-contacts__item">
          <a href="#" class="link">
            <svg class="header__search" width="30" height="30">
              <use href="./images/icons.svg#search"></use>
            </svg>
          </a>
        </li>
        <li class="nav-contacts__item">
          <a href="#" class="link">
            <svg class="header__shopping" width="30" height="30">
              <use href="./images/icons.svg#shopping-bag"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
