<section class="hero">
  <div class="container flex">
    <div class="hero__wrap">
      <h1 class="hero__title">Enjoy Your Morning Coffee.</h1>
      <p class="hero__text">
        The coofee is brewed by fist roasting the green coffee beans over hot coals in brazier.
        given to Opportunity
      </p>
      <button class="hero__button" type="button">Test Coffee</button>
    </div>
    <a href="https://www.youtube.com/watch?v=wuIiy5c_iHw" class="hero__link" target="_blank">
      <svg class="hero__svg" width="93" heigth="109">
        <use href="./images/icons.svg#Play"></use>
      </svg>
    </a>
  </div>
</section>
