<section class="history">
  <div class="container flex">
    <div class="history__wrap">
      <img
        class="history__wrap-img"
        srcset="./images/history-1.jpg 1x, ./images/history-1@2x.jpg 2x"
        src="./images/history-1.jpg"
        alt="history images"
      />
      <img
        class="history__wrap-img"
        srcset="./images/history-2.jpg 1x, ./images/history-2@2x.jpg 2x"
        src="./images/history-2.jpg"
        alt="history images"
      />
    </div>
    <img
      class="history__img"
      srcset="./images/history-3.jpg 1x, ./images/history-3@2x.jpg 2x"
      src="./images/history-3.jpg"
      alt="history images"
    />
    <div class="history__content">
      <p class="history__text">Our history</p>
      <h2 class="history__title">Create a new story with us</h2>
      <p class="history__description">
        Mauris rhoncus in imperdiet placerat. Vestibu emismd nisl suscirpit ligula volutpat, a
        feyguat urn maxmaus. Cars massa nibhtincidunt. Donec et nibh maximus, est eu, mattis nuce.
        Preasent ut quam quis quam venen atis fringilla. Morbi vastibulum id tells mmodo mattis.
        Aliauam erat volutpal.
      </p>
    </div>
  </div>
</section>
