<section class="process">
  <div class="container">
    <ul class="process__list">
      <li class="process__item">
        <p class="process__text"><span class="process__span">01</span>Best Coffee Flavour</p>
        <img
          class="process__img"
          srcset="./images/process-1.jpg 1x, ./images/process-1.jpg 2x"
          src="./images/process-1.jpg"
          alt="process images"
        />
      </li>
      <li class="process__item">
        <p class="process__text"><span class="process__span">02</span>Place to get lost</p>
        <img
          class="process__img"
          srcset="./images/process-2.jpg 1x, ./images/process-2.jpg 2x"
          src="./images/process-2.jpg"
          alt="process images"
        />
      </li>
      <li class="process__item">
        <p class="process__text"><span class="process__span">03</span>Proper roesting</p>
        <img
          class="process__img"
          srcset="./images/process-3.jpg 1x, ./images/process-3.jpg 2x"
          src="./images/process-3.jpg"
          alt="process images"
        />
      </li>
    </ul>
  </div>
</section>
