<section class="product">
  <div class="container">
    <p class="product__text">Popular Product</p>
    <h2 class="product__title">Coffee popular Product</h2>
    <div class="product__cards">
      <article class="card">
        <img
          class="card__img"
          srcset="./images/product.jpg 1x, ./images/product@2x.jpg 2x"
          src="./images/product.jpg"
          alt="Product image"
        />
        <div class="card__rating-wrap">
          <p class="card__rating">Coffee</p>
          <ul class="card__list">
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star-empty"></use>
              </svg>
            </li>
          </ul>
        </div>

        <h3 class="card__title">brazil coffee gred</h3>
        <p class="card__prise">Price - <span class="card__prise-span">$320.00/</span> $358</p>
        <button class="product__btn-card visually-hidden">
          <svg class="product__svg-card" width="24" height="24">
            <use href="./images/icons.svg#shopping-bag"></use>
          </svg>
          Add to cart
        </button>
      </article>
      <article class="card">
        <img
          class="card__img"
          srcset="./images/product.jpg 1x, ./images/product@2x.jpg 2x"
          src="./images/product.jpg"
          alt="Product image"
        />
        <div class="card__rating-wrap">
          <p class="card__rating">Coffee</p>
          <ul class="card__list">
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star-empty"></use>
              </svg>
            </li>
          </ul>
        </div>

        <h3 class="card__title">brazil coffee gred</h3>
        <p class="card__prise">Price - <span class="card__prise-span">$320.00/</span> $358</p>
        <button class="product__btn-card visually-hidden">
          <svg class="product__svg-card" width="24" height="24">
            <use href="./images/icons.svg#shopping-bag"></use>
          </svg>
          Add to cart
        </button>
      </article>
      <article class="card">
        <img
          class="card__img"
          srcset="./images/product.jpg 1x, ./images/product@2x.jpg 2x"
          src="./images/product.jpg"
          alt="Product image"
        />
        <div class="card__rating-wrap">
          <p class="card__rating">Coffee</p>
          <ul class="card__list">
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__item">
              <svg class="card__svg" width="20" height="20">
                <use href="./images/icons.svg#star-empty"></use>
              </svg>
            </li>
          </ul>
        </div>
        <h3 class="card__title">brazil coffee gred</h3>
        <p class="card__prise">Price - <span class="card__prise-span">$320.00/</span> $358</p>
        <button class="product__btn-card visually-hidden">
          <svg class="product__svg-card" width="24" height="24">
            <use href="./images/icons.svg#shopping-bag"></use>
          </svg>
          Add to cart
        </button>
      </article>
    </div>
    <button class="product__btn" type="button">View all product</button>
  </div>
</section>
