<section class="reservation">
  <div class="container reservation__flex">
    <img
      class="reservation__img"
      srcset="./images/table.jpg 1x, ./images/table@2x.jpg 2x"
      src="./images/table.jpg"
      alt="reservation image"
    />
    <form class="reservation__form">
      <p class="reservation__subtext">Reservation</p>
      <h2 class="reservation__title">Booking a table</h2>
      <input class="reservation__input" type="text" placeholder="Person" />
      <input class="reservation__input" type="text" placeholder="01.01.2022" />
      <input
        class="reservation__input reservation__input--margin"
        type="text"
        placeholder="11:00 AM"
      />
      <button class="reservation__btn" type="submit">BOOK S TABLE</button>
    </form>
  </div>
</section>
