.cta {
  padding-top: 70px;
  padding-bottom: 90px;
}

.cta__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-header-copy;
}

.cta__img {
  width: 226px;
  margin-top: 85px;
  margin-left: 169px;
  margin-right: 160px;
  margin-bottom: 86px;
}

.cta__content {
  padding-right: 80px;
}

.cta__title {
  font-family: $font-basic;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 36px;
}

.cta__text {
  font-family: $font-second;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  margin-bottom: 36px;
}

.cta__btn {
  font-family: $font-auxiliary;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  padding: 20px 36px;
  border: none;
  color: $text-color;
  background-color: $active-link-bg-button;
  text-transform: uppercase;
}

.cta__btn:hover {
  background-color: $hover-btn;
}
